* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*font-size: 16px;*/
  font-size: 1.6vw;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  /* background: #000; */
  /*background: green;*/
  /* color: #FFF; */
  text-align: center;
}

#app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*top: 20px;*/
  top: 1.5rem;
  /*right: 30px;*/
  right: 2rem;
  /*bottom: 20px;*/
  /*bottom: 1.5rem;*/
  bottom: 6rem;
  /*left: 30px;*/
  left: 2rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
}


#app * {
  z-index: 10;
}

.settings {
  width: 100%;
}

.settings .input input {
  border: 2px solid rgba(100, 100, 100, 0.5);
  width: 100%;
  display: block;
  padding: 2px 5px;
  margin-bottom: 15px;
  border-radius: 0;
}

.settings .input input:focus {
  border: 2px solid rgba(10, 10, 100, 0.5);
  outline: 1px solid rgba(10, 10, 100, 0.5);
}

.settings .action button {
  background: #64F;
  border: 1px solid #64F;
  color: #FFF;
  padding: 5px 15px;
  border-radius: 0;
  margin-bottom: 15px;
}

.settings .action button:focus,
.settings .action button:active,
.settings .action button:hover {
  background: #42E;
  outline: 1px solid #75F;
}

.settings .action button.secondary {
  background: #AAA;
  border: 1px solid #AAA;
}

.settings .action button.secondary:focus,
.settings .action button.secondary:active,
.settings .action button.secondary:hover {
  background: #888;
  outline: 1px solid #888;
}
