<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>MDisplay Launcher</title>
    <link rel="shortcut icon" href="assets/images/favicon.png" />
    <link rel="icon" type="image/png" href="assets/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="assets/vendors/reboot.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/app.css" />
  </head>
  <body>
    <div id="app" :class="[]" @click="onBodyClick()">
      <div style="display: none" v-show="true">
        <section v-if="(network.checking || network.internetChecking) && !editMode && !waitingCount && !exitCount">
          <h3 style="margin-top: 50px">
            <small style="font-weight: normal; font-size: 12px; display: block">Network Status:</small>
            {{ network.status }}
          </h3>
          <h3 v-if="network.internetChecking" :style="{color: network.internetCheckingMessage.color}">
            {{ network.internetCheckingMessage.text }}
          </h3>

          <div style="padding: 10px 0">
            <div v-if="zipStatus.isDownloaded || zipStatus.isError">
              <div style="font-size: 18px" :style="{color: zipStatus.isDownloaded ? '#31da31' : '#ff2e2e'}">
                {{ zipStatus.status }}
              </div>
            </div>
            <div v-if="zipStatus.isDownloading">
              Downloading zip file...
              <div class="progress-bar">
                <span class="progress-bar-fill" :style="{width: zipStatus.progressPercentage + '%'}"></span>
              </div>
              <div>
                Downloaded {{ zipStatus.progressCurrentSize}}
                <span v-if="zipStatus.progressTotalSize != 'Unknown'">/ {{ zipStatus.progressTotalSize }}</span>
              </div>
            </div>
            <!-- <pre>{{ zipStatus }}</pre> -->
          </div>
          <!-- <pre>
            {{ network }}
          </pre> -->
        </section>
        <section v-else>
          <div v-if="editMode">
            <h3>MDisplay Launcher {{ version }}</h3>
            <!-- <p>Powered by Zetmel</p> -->
            <div class="settings">
              <label style="display: block; text-align: left">URL</label>
              <div class="input">
                <input ref="urlInput" type="url" v-model="url" @input="urlChanged()" placeholder="Enter the URL" />
              </div>
              <div class="action">
                <button :style="{opacity: url == '' ? '0.5' : '1'}" @click="goToUrl()">Go</button>
                <button class="secondary" @click="clearUrl()">Clear</button>
              </div>
            </div>
            <div class="settings">
              <label style="display: block; text-align: left">Zip URL</label>
              <div class="input">
                <input
                  ref="zipUrlInput"
                  type="url"
                  v-model="zipUrl"
                  @input="zipUrlChanged()"
                  placeholder="Enter the Zip URL"
                />
              </div>
              <label style="display: block; text-align: left">Zip Directory</label>
              <div class="input">
                <input
                  ref="zipDirectoryInput"
                  type="url"
                  v-model="zipDirectory"
                  @input="zipUrlChanged()"
                  placeholder="Enter the Zip Directory"
                />
              </div>
              <div class="action">
                <button :style="{opacity: zipUrl == '' ? '0.5' : '1'}" @click="downloadZipUrl()">Download</button>
                <button class="secondary" @click="clearZipUrl()">Clear</button>
              </div>
            </div>
            <div class="settings">
              <input type="checkbox" v-model="zipFirst" id="zip-first-check" @change="zipFirstChanged()" />
              <label for="zip-first-check">Offline (Zip) First</label>
            </div>
          </div>
          <div v-if="url != '' && waitingCount">
            <div>Presss Enter or Tap here</div>
            <div style="font-size: 48px; margin-bottom: 24px; margin-top: 24px; color: #f00">
              {{ getWaitingCountDownMessage() }}
            </div>
          </div>
          <div v-if="url != '' && !waitingCount && exitCount">
            <div>Presss back again</div>
            <div style="font-size: 48px; margin-bottom: 24px; margin-top: 24px">{{ getExitCountDownMessage() }}</div>
          </div>
          <div v-if="showIntroMessages && url != '' && !editMode && !waitingCount && !exitCount">
            <h3>MDisplay Launcher {{ version }}</h3>
            <!-- <p>Powered by Zetmel</p> -->
            <div>Initializing...</div>
          </div>
        </section>
      </div>
    </div>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="assets/vendors/vue.min.js"></script>
    <script type="text/javascript" src="assets/vendors/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript">
      window.app = new App();
      var hasCordova = !!window.cordova;
    </script>
    <script type="text/javascript">
      if (hasCordova) {
        document.addEventListener('deviceready', function () {
          window.app.deviceReady();
        });
      } else {
        window.app.deviceReady();
        //   alert('Not intended to run in a non-cordova environment');
      }
    </script>
    <script type="text/javascript">
      window.app.init(function () {
        new Vue({
          el: '#app',
          data: app.data,
          computed: {},
          methods: {
            onBodyClick() {
              window.app.onBodyClick();
            },
            goToUrl() {
              window.app.goToUrl();
            },
            downloadZipUrl() {
              window.app.downloadZipUrl();
            },
            urlChanged() {
              window.app.urlChanged();
            },
            zipUrlChanged() {
              window.app.zipUrlChanged();
            },
            zipFirstChanged() {
              window.app.zipFirstChanged();
            },
            clearUrl() {
              var input = this.$refs.urlInput;
              window.app.clearUrl(input);
            },
            clearZipUrl() {
              var input = this.$refs.zipUrlInput;
              window.app.clearZipUrl(input);
            },
            getExitCountDownMessage() {
              return window.app.getExitCountDownMessage();
            },
            getWaitingCountDownMessage() {
              return window.app.getWaitingCountDownMessage();
            },
          },
          created() {
            app.created();
          },
          mounted() {
            app.mounted();
          },
        });
      });
    </script>
  </body>
</html>
